<app-search></app-search>
<div class="container" >
    <div class="row categories" *ngFor="let val of categories;let i = index">
        cat= {{val.name}}        <span *ngIf="i!=L">></span>
    </div>
    <div class="row mg-top">        
        <div class="col-sm-12 bg-white">
            <div *ngFor="let val of details;" class="row padding">
                <div class="col-sm-8">
                    <img width="680px" src="{{val.picture}}">
                </div>
                <div class="col-sm-3">
                    <div class="quantity">{{val.sold_quantity}} Vendidos</div>
                    <h2 class="title" >{{val.title}}</h2>
                    <h3 class="amount">${{val.amount}}</h3>                    
                    <div class="col-sm-12">
                        <button type="button"  class="btn btn-primary">Comprar</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="title-description">Descripcion del producto</div>
                    <div class="description">{{description}}</div>
                </div>
            </div>
        </div>
    </div>
</div>