.navbar-ml{
    background-color: #ffe600;
    border: 0;
    .nav-logo{
        background-image:URL('assets/Logo_ML@2x.png.png');    
        height: 72px;  
        width: 117px;
        background-repeat: no-repeat;
        margin-right: 1%;
        display: block;
    }
}