/* You can add global styles to this file, and also import other style files */
$font-color: #333333;
.bg-grey{
    background-color:#eeeeee;
    .categories{
        font-size:14px;
        color:#999999;
        display: inline-block;
        margin-left:2%
    }
    .bg-white{
        background-color:white;
        img{
            border-radius:4px;
        }
        h3{
            font-size:24px;
            color:$font-color;
            margin-top:4%;
            margin-bottom:4%;
            img{
                padding-left: 2%;
            }
        }
        h2{
            font-size:18px;
            color:$font-color;
        }
        .states{
            text-align: center;
            margin-top: 4%;
            font-size:12px;
            color:#666666
        }
        .divider{
            width: 95%;
            margin: auto;
            border: 1px solid #F7F7F7;
        }
        .quantity{
            font-size:16px;
            color:$font-color;
        }
        .amount{
            font-size:46px;
            color:$font-color;
        }
        .title{
            font-size:24px;
            color:$font-color;
        }
        button{
            width: 100%;
            margin-top:10%;            
        }
        .title-description{
            margin-top:7%;
            font-size:28px;
            margin-bottom:3%;
        }
        .description{
            font-size:16px
        }
    }
}